* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Bagator;
    src: url(Bagator.otf);
}

@font-face {
    font-family: Brinnan-Regular;
    src: url(Brinnan-Regular.otf);
}


@font-face {
    font-family: AlegreyaSC-Medium;
    src: url(AlegreyaSC-Medium.ttf);
}

:root {
    font-size: 62.5%;
    font-family: Bagator, sans-serif;

    --main-color: #937a00;
    --font-color: #fff;
    --bg-color: hsl(0, 0%, 0%);
}

.logo {
    width: 22rem;
    margin-bottom: 6rem;
    display: none;
}

body {
    background: url(bg-mobile.jpg) no-repeat center/cover;
}

main {
    height: auto;
    width: 100%;

    padding: 10rem 2rem;
}

main .text, .copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .title {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: AlegreyaSC-Medium;
    

    text-transform: uppercase;
    color: var(--main-color);
}

main .subtitle, .phrase, .questions {
    color: var(--font-color);
    font-family: AlegreyaSC-Medium;

    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.subtitles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.phrase {
    font-size: 1rem;
    text-transform: none;
    margin-bottom: 1rem;
}

.questions {
    color: var(--main-color);
    font-family: AlegreyaSC-Medium;

    font-size: 1rem;

    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    font-size: 2rem;
    font-family: AlegreyaSC-Medium;

    font-weight: 400;
    color: var(--font-color);
}

label {
    font-size: 2rem;
}

input {
    color: var(--font-color);
    font-size: 2rem;
    font-family: AlegreyaSC-Medium;

    font-weight: 400;

    padding: .5rem 0 0 0;

    width: 100%;
    background: none;
    font-weight: 400;

    border: none;
    border-bottom: #626262 1px solid;
    font-weight: 400;

}

input:focus {
    border: none;
    border-bottom: #626262 1px solid;
}

button {
    font-size: 1.8rem;
    font-family: AlegreyaSC-Medium;

    font-weight: 400;

    background: var(--main-color);
    padding: 1rem 4rem;
    border: none;
    align-items: center;
    text-align: center;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: #2c2c31;

}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.content-button p {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}



@media (min-width: 767px) {

    .logo {
        width: 22rem;
        margin-bottom: 6rem;

        display: none;
    }

    .text {
        width: 40rem;
    }
    
    body {
        background: url(background.jpg) no-repeat center/cover;
    }
    
    main {
        height: auto;
        width: 100%;
    
        padding: 15rem 2rem;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    
        font-size: 2rem;
        font-family: AlegreyaSC-Medium;

        font-weight: 400;
        color: var(--font-color);
    }
    
    label {
        font-size: 2rem;
    font-family: AlegreyaSC-Medium;

    }
    
    input {
        color: var(--font-color);
        font-size: 2rem;
        font-family: AlegreyaSC-Medium;

        font-weight: 400;
    
        padding: .5rem 0 0 0;
    
        width: 100%;
        background: none;
        font-weight: 400;
    
        border: none;
        border-bottom: #626262 1px solid;
        font-weight: 400;
    
    }
    
    input:focus {
        border: none;
        border-bottom: #626262 1px solid;
    }
    
    button {
        font-size: 1.8rem;
        font-family: AlegreyaSC-Medium;

        font-weight: 400;
    
        background: var(--main-color);
        padding: 1rem 4rem;
        border: none;
        align-items: center;
        text-align: center;
    }

    .content-button p {
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
    }
    .content {
        width: 50rem;
    }
}

@media (min-width: 1200px) {
    ::-webkit-scrollbar {
        width: .8rem;
    }
    
    ::-webkit-scrollbar-track {
        background-color: #2c2c31;
    
    }
    
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom right, #ffe253, #514800);
    }

    .logo {
        width: 40rem;
        margin-bottom: 5rem;
        display: none;
    }

    body {
        background: #000000 ;
        background: url(background.jpg) no-repeat center/cover;
    }

    main {
        height: auto;

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main section {
        gap: 5rem;

        display: flex;
        flex-direction: column;

    }

    .content {
        width: 70rem;
    }

    main .title {
        font-size: 4.8rem;
        font-weight: 400;
        width: 70.8rem;
    
        text-transform: uppercase;
        background: linear-gradient(to bottom right, #ffe253, #514800);
        color: transparent; /* Torna o texto transparente */
        -webkit-background-clip: text; /* Aplica o gradiente apenas na área do texto */
        background-clip: text;
    }

    .text {
        width: 70rem;

    }
    
    main .subtitle, .phrase, .questions {
        color: var(--font-color);
        font-family: AlegreyaSC-Medium;

        font-weight: 400;
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    
    .subtitles {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .phrase {
        font-size: 2rem;
        text-transform: none;
    }
    
    .questions {
        background: linear-gradient(to bottom right, #ffe253, #514800);
        color: transparent; /* Torna o texto transparente */
        -webkit-background-clip: text; /* Aplica o gradiente apenas na área do texto */
        background-clip: text;
        font-family: AlegreyaSC-Medium;

        font-size: 2rem;
        margin-bottom: 0rem;
    }
    
    form {
        font-size: 2rem;
        font-family: AlegreyaSC-Medium;

        font-weight: 400;
        color: var(--font-color);
    }
    
    label {
        font-size: 2rem;
    }
    
    input {
        color: var(--font-color);
        font-size: 2rem;
        height: 5rem;
        padding: 2rem 0 0 0;
    }
    
    input:focus {
        outline: none;
    }

    input::selection {
        border: none;
    }
    
    button {
        font-size: 2rem;
        font-family: AlegreyaSC-Medium;

        font-weight: 400;

        cursor: pointer;
        margin-top: 3rem;
        background: linear-gradient(to bottom right, #f9e581, #514800);
    }

    .content-button {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 5rem;
    }

    .content-button p {
        margin-top: 3rem;
    }
}

