* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Bagator;
    src: url(/assets/fonts/Bagator.otf)
}

@font-face {
    font-family: Brinnan-Regular;
    src: url(/assets/fonts/Brinnan-Regular.otf);
}

:root {
    font-size: 62.5%;
    font-family: Bagator, sans-serif;

    --main-color: hsl(46, 94%, 79%);
    --font-color: #fff;
    --bg-color: hsl(0, 0%, 0%);
}

.logo {
    width: 18rem;
    margin-bottom: 2rem;
}

main {
    background-color: #000000;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--font-color);
    font-size: 2rem;
    font-family: Bagator, sans-serif;
    padding: 15rem 2rem;
    
}

